               /* tekst */
               
               h2 {
                   margin-left: 5%;
                   border-bottom: 1px solid white;
                   width: 90%;
                   padding: 1%;
               }
               
               p {
                   padding-bottom: 2%;
                   padding-left: 5%;
               }
               /* opmaak */
               
               .blokken {
                   padding: 0%;
                   margin-top: 4%;
               }
               
               .bloklinks {
                   background-color: #29aae2;
               }
               
               #witterand {
                   margin-left: 15%;
                   border-left: 1.1em solid white;
               }
               
               #luchtfoto {
                   width: 84%;
                   height: 34%;
                   opacity: 0.3;
                   position: absolute;
               }
               
               #lijnzwart {
                   border-bottom: 1px solid #737078;
               }
               /*formulier */
               
               input[type=submit] {
                   border-radius: 5px;
                   border: 2px solid white;
                   text-align: center;
                   width: 10%;
                   background-color: #29aae2;
                   color: white;
                   padding: 0.2%;
               }
               
               input[type=submit]:hover {
                   opacity: 0.6;
                   cursor: pointer;
               }
               
               input[type=text] {
                   width: 27.5%;
                   border-radius: 5px;
                   border: 2px solid white;
                   padding-bottom: 1%;
                   padding-left: 2.5%;
                   padding-top: 1%;
               }
               
               input[type=email] {
                   width: 27.5%;
                   border-radius: 5px;
                   border: 2px solid white;
                   padding-bottom: 1%;
                   padding-left: 2.5%;
                   padding-top: 1%;
               }
               
               textarea {
                   width: 57.4%;
                   border-radius: 5px;
                   border: 2px solid white;
                   padding-bottom: 15%;
                   padding-left: 2.5%;
                   padding-top: 1%;
               }
               
               #keuze {
                   width: 60%;
                   padding-top: 1%;
                   padding-bottom: 1%;
                   border-radius: 5px;
                   border: 2px solid white;
                   padding-left: 2.5%;
               }
               
               ::-webkit-input-placeholder {
                   font-style: italic;
               }
               /*Kaart */
               
               #Situering {
                   margin: 0%;
                   padding: 0%;
                   margin-left: 16%;
                   margin-top: 4%;
               }
               
               #kaart {
                   width: 62%;
                   opacity: 0.8;
               }