/* --- GKM --- */

/* --- GKM header --- */

#GKM .headerbackground{
  margin-left: 16%;
  min-height: 210px;
  padding-top: 5%;
  box-sizing: border-box;
  background-color: #f1c40f;
}

#GKM header h1{
  border-bottom: solid white 10px;
  padding-bottom: 1%;
  color: white;
  text-indent: 5%;
  width: 90%;
}

/* --- GKM menubar --- */

#GKM .menubar ul li:first-child{
  margin-top: 0;
}

#GKM .menubar li:hover{
  background-color: #f1c40f;
}

li.GKMselected{
  background-color: #f1c40f;
}

/* --- GKM sections --- */

#GKM section{
  margin-top: 5%;
  padding-left: 5%;
}

#GKM h2{
  margin-bottom: 2%;
}

#GKM #algemeen p{
  margin-bottom: 10%;
  line-height: 1.5;
}

#GKM #algemeen h3{
  color: #f1c40f;
}

#GKM #algemeenlinks{
  width: 30%;
  float: left;
}

#GKM #algemeenrechts{
  width: 50%;
  float: right;
  margin-right: 10%;
}

#GKM #slider{
  height: 400px;
}

#GKM #slider figcaption {
  margin-top: 2%;
  padding: 3%;
  text-align: center;
  margin-right: 10%;
}

#GKM #slider figure img{
  max-width: 100%;
  overflow: hidden;
}

#GKM #slider figure #imgwrapper{
  height: 300px;
  overflow: hidden;
  margin-right: 10%;
}

#GKM #slider figcaption a{
  width: 20%;
  text-indent: -9999;
  padding: 0 15%;
  
}
/*Sectie Taken*/

#GKM #taken div{
  width: 34%;
  float: left;
  margin-right: 2%;
  padding: 5%;
  margin-top:2%;
  min-height: 190px; 
}

#GKM #taken #basis{
  width: 80%;
  float: none;
  background-color: #5a5760;
  margin-right: 2%;
  color: white;
  min-height: 90px;
}

#GKM #taken h3{
  color: #ffffff;
  padding-bottom: 4%;
}

#GKM #taken #basis h3{
  color: #f1c40f;
  padding-bottom: 0%;
}

#GKM #taken ul li{
 padding-top: 2.5%;
}

#GKM #taken #basis ul li{
  padding-top: 2%;
}

#GKM #takenimg{
  background-image: url(../img/GKM/studentkerstcupcakes.png);
  background-size: cover;
  background-position: bottom;
}

/*Sectie attitudes en stages*/

#GKM #attitudeswrapper div, #GKM #stageswrapper div{
}

#GKM #attitudes ul, #GKM #stages ul{
  padding-left: 5%;
}

#GKM #attitudes ul li, #GKM #stages ul li{
  padding-top: 1.5%;
  color: #29aae2;
}

/*Aside lessentabel*/
#lessentabel{
  margin: 5% 10% 0% 16%;
  padding-left: 5%;
}
#lessentabel h2{
  float: left;
  width: 50%;
}
#lessentabel h3{
  float: right;
  width: 50%;
  text-align: right;
  margin-bottom: 3%;
}

#lessentabel table{
  border: solid 3px #f1c40f;
  margin: 5% 0;
  width: 100%;
  font-weight: lighter;
  border-collapse: collapse;
  
}

#lessentabel table th{
  text-align: right;
  padding: 2.5% 5% 2.5% 0%;
  margin-right: 15%; 
  font-weight: normal;
}

#lessentabel table td{
  text-align: center;
  padding: 2.5% 10% 2.5% 10%;
}

#lessentabel .tableheading{
  font-size: 1.75em;
}

#lessentabel tr:nth-of-type(odd) th{
    background-color: #f1c40f;
}

/* -- GKM andere opleidingen-- */

#GKM .opleidingen{
  margin-left: 0;
  margin-right: 13%;
}

#GKM #andereopleidingen h2 a{
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  color: #5a5760;
  padding: 0;
}

#GKM .opl ul {
  text-align: left;
}
