 /*KLEUREN  
Accent groen: #85c226
Accent blauw: #29aae2 
Logo grijs: #5a5760 
Kleur HL rood: #e74c3c
Kleur TA groen: #1abc9c
Kleur GKM geel: #f1c40f
Kleur LA paars: #973cb6
Kleur SD oranje: #fd8125
Kleur duaal groen: #5ec64d 

p:nth-child(odd){
  font-weight: bold;
}
*/
 /* ---- TEAM PAGINA ---- */
 
 .team p:nth-child(even) {
   font-weight: regular;
 }
 
 .team p:nth-child(odd) {
   font-style: italic;
 }
 /* --- nieuws sectie home page --- */
 
 .lkr ul {
   position: relative;
   width: 50%;
   margin-top: 1%;
   padding: 1% 30% 1% 0;
   margin-right: 16%;
 }
 
 .lkr li {
   list-style: none;
   padding: 1.25% 1%;
   width: 45%;
 }
 
 .lkr li:focus,
 .lkr li:hover {
   background-color: #0c6c96;
   color: #fff;
 }
 
 .lkr li:hover img {
   display: block;
 }
 
 .lkr img {
   width: 30%;
   display: none;
   position: absolute;
   top: 6%;
   right: 2%;
 }

/* --- SLIDER ---*/

#HOME #sliderwrapper{
  background-color: #29aae2;
}

#HOME #slider{
  background-color: white;
  margin-left: 15%;
}

#HOME .balkeffect{
  background-color: white;
  padding-left: 1%;
}

#HOME #slider figcaption {
  margin-top: 2%;
  padding: 3%;
  text-align: center;
  margin-right: 10%;
  background-color: #29aae2;
  color: white;
}

#HOME #slider figure img{
  max-width: 100%;
  overflow: hidden;
}

#HOME #slider figure #imgwrapper{
  overflow: hidden;
  margin-right: 10%;
}

#HOME #slider figcaption a{
  width: 20%;
  padding: 0 15%;
  color: white;
  text-decoration: none;
}

#HOME #slider figcaption a:hover{
  color: #5a5760 ;
}
