/*KLEUREN  
Accent groen: #85c226
Accent blauw: #29aae2 
Logo grijs: #5a5760 
Kleur HL rood: #e74c3c
Kleur TA groen: #1abc9c
Kleur GKM geel: #f1c40f
Kleur LA paars: #973cb6
Kleur SD oranje: #fd8125
Kleur duaal groen: #5ec64d */

* {
 /* zorgt voor een standaard margin en padding van 0 op alle elementen */
 margin: 0;
 padding: 0;
}

article,
section {
 margin-left: 16%;
}


/* ALGEMENE OPMAAK*/

body {
 color: #5a5760;
 font-family: tahoma, sans-serif;
 width: 100%;
}

h1 {
 font-family: 'Raleway', sans-serif;
 font-size: 2.5em;
 padding-top: 2%;
 color: white;
}

h2 {
 font-family: 'Raleway', sans-serif;
 font-size: 1.75em;
}

h3 {
 font-family: 'Raleway', sans-serif;
 font-size: 1.25em;
}


/* ---- Iconfont ---- */

@font-face {
 font-family: 'icomoon';
 src: url('../fonts/icons/icomoon.eot');
 src: url('../fonts/icons/icomoon.eot') format('embedded-opentype'), url('../fonts/icons/icomoon.ttf') format('truetype'), url('../fonts/icons/icomoon.woff') format('woff'), url('../fonts/icons/icomoon.svg') format('svg');
 font-weight: normal;
 font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
 /* use !important to prevent issues with browser extensions that change fonts */
 font-family: 'icomoon' !important;
 speak: none;
 font-style: normal;
 font-weight: normal;
 font-size: 2em;
 font-variant: normal;
 text-transform: none;
 /*line-height: 1;
   /* Better Font Rendering =========== */
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

.icon-Duaal:before {
 content: "\e900";
}

.icon-TA:before {
 content: "\e901";
}

.icon-GKM:before {
 content: "\e902";
}

.icon-HL:before {
 content: "\e903";
}

.icon-LA:before {
 content: "\e904";
}

.icon-SD:before {
 content: "\e905";
}


/* ---- CLEARFIX ---- */

.clearfix:after {
 visibility: hidden;
 display: block;
 content: ' ';
 clear: both;
 height: 0;
}


/* ---- BANNER & LOGO ---- */

.banner {}

.logo {
 width: 15%;
 float: left;
}


/* --- HEADER TEMPLATE --- */

.headerbackground {
 margin-left: 16%;
 min-height: 210px;
 padding-top: 5%;
 box-sizing: border-box;
}

header h1 {
 border-bottom: solid white 10px;
 padding-bottom: 1%;
 color: white;
 text-indent: 5%;
 width: 90%;
}


/* ---- NAVIGATIE MENU ----- */

.menubar {
 width: 15%;
 position: fixed;
 top: 160px;
}

.menubar ul {
 width: 100%;
 text-align: left;
}

.menubar li {
 margin: 5% 0;
 list-style: none;
 display: block;
 padding: 4% 2%;
 box-sizing: border-box;
 background-color: #85c226;
 min-height: 50px;
}

.menubar a {
 text-decoration: none;
 color: white;
 font-size: 1.5em;
 display: block;
 height: 100%;
 width: 100%;
}

.menubar li:hover {
 background-color: #29aae2;
}


/* -- actieve link opmaken -- */

li.active {
 background-color: #29aae2;
 color: white;
 font-size: 1.5em;
}


/* ---- KLEURVLAKKEN ---- */


/* -- Blauw -- */

.blauw {
 color: white;
 background-color: #29aae2;
 padding: 2%;
}

.blauw h3 {
 padding-bottom: 1%;
}


/* -- Groen --  */

.groen {
 background-color: #85c226;
 color: white;
 padding: 2%;
}

.groen h3 {
 padding-bottom: 1%;
}


/* -- Geel --*/

.geel {
 background-color: #f1c40f;
}


/* -- kleurvak links -- */

.vak_links {
 width: 11%;
 float: left;
 margin-right: 1%;
 text-indent: -9999px;
}


/* -- Verschillende kleuren van de opleidingen */

.HL {
 background-color: #e74c3c;
}

.TA {
 background-color: #1abc9c;
}

.LA {
 background-color: #973cb6;
}

.SD {
 background-color: #fd8125;
}

.GKM {
 background-color: #f1c40f;
}

.duaal {
 background-color: #5ec64d;
}

.HL:hover {
 opacity: 0.8;
}

.TA:hover {
 opacity: 0.8;
}

.LA:hover {
 opacity: 0.8;
}

.SD:hover {
 opacity: 0.8;
}

.GKM:hover {
 opacity: 0.8;
}

.duaal:hover {
 opacity: 0.8;
}


/* --- OPMAAK VAN DE NAV VAN DE VERSCHILLENDE OPLEIDINGEN --- */

.opleidingen {
 margin-left: 16%;
 margin-top: 5%;
}

.opl ul {
 width: 100%;
 text-align: center;
}

.opl li {
 color: white;
 margin: 1% 1% 1% 0;
 list-style: none;
 display: inline-block;
 padding: 4% 2%;
 box-sizing: border-box;
 width: 14%;
 text-align: center;
}

.opl a {
 font-family: tahoma, sans-serif;
 color: white;
 text-decoration: none;
 font-size: 16px;
}


/* ---- FOOTER ---- */

footer {
 background-color: #5a5760;
 color: white;
 font-size: 0.75em;
 width: 100%;
 padding-top: 1%;
 margin-top: 1%;
}

footer h5 {
 font-size: 1em;
 margin-bottom: 2%;
}

footer li {
 list-style: none;
 padding: 1% 0;
}

.f_prakt_info {
 float: left;
 width: 16%;
 position: relative;
 left: 9%;
 overflow: hidden;
 text-align: right;
}

.f_logo {
 float: left;
 width: 16%;
 position: relative;
 left: 10%;
 overflow: hidden;
 border-left: solid white 1px;
 padding-left: 2%;
 border-right: solid white 1px;
 padding-right: 2%;
}

.f_logo img {
 width: 100%;
}

.f_aanbod {
 float: left;
 width: 10%;
 position: relative;
 left: 12%;
 overflow: hidden;
}

.f_contact {
 margin: 0;
 float: left;
 width: 16%;
 position: relative;
 left: 17%;
 overflow: hidden;
 border-left: solid white 1px;
 padding-left: 2%;
}

.f_copyright {
 margin-left: 0;
 text-align: center;
 border-top: solid white 5px;
 margin-top: 11%;
 padding: 0.5% 0 2% 0;
}


/* ---- HOME PAGE ---- */

.welkom {
 color: #85c226;
 text-align: center;
}

.welkom h1 {
 color: #85c226;
 text-align: center;
}


/* -- nieuws sectie -- */

.nieuws h2 {
 color: #29aae2;
}

.nieuws article {
 margin: 0;
}


/* -- Aanbod sectie -- */

.aanbod {
 height: auto;
 margin: 0;
}

.aanbod h2 {
 color: #85c226;
 margin-left: 16%;
}

.basis {
 margin: 0;
 padding-left: 16%;
 float: left;
 width: 30%;
}

.type9 {
 margin: 0;
 float: right;
 width: 32%;
 padding-right: 13%;
}


/* -- Sfeerbeelden sectie -- */

.sfeerbeelden {
 margin-left: 0;
 width: 100%;
}

.slider {
 margin-left: 16%;
 width: 80%;
 text-align: center;
}

.slider img {
 width: 50%;
}


/* OPLEIDINGEN PAGINA */

.opleidingenpagina h2:before {
 display: inline-block;
 font-size: 2em;
 padding: 0.5em;
 padding-right: 1.5em;
 max-width: 3%;
}

.opleidingen-header {
 background-color: #85c226;
}

.opleidingen-hrheaderwit {
 background-color: white;
 height: 1em;
 border: none;
 width: 70%;
}

.opleidingen-hrheadergroen {
 background-color: #85c226;
 height: 2em;
 border: none;
 margin-left: 15%;
}

.opleidingenpagina article {
 margin-top: 2em;
 margin-bottom: 2em;
 color: white;
 padding: 0.5em;
}

.opleidingenpagina article ul {
 max-width: 50%;
 margin: 2em;
 margin-left: 10em;
 margin-bottom: 3em;
}

.opleidingen-foto-rechts {
 float: right;
 width: 38%;
}

.opleidingen-hrarticle {
 height: 0.1em;
 width: 40%;
 background-color: white;
 border: none;
 margin-left: 9em;
}

.opleidingen-button {
 text-align: center;
 display: block;
 text-decoration: none;
 color: white;
 padding: 0.5em;
 margin: 2em;
 margin-left: 40%;
 width: 10%;
 border-style: solid;
 border-width: 0.15em;
 border-radius: 0.5em;
}

.opleidingenpagina a {
 font-family: 'Raleway', sans-serif;
 color: white;
 text-decoration: none;
}


/* --- PRAKTISCHE INFO --- */

.info article:nth-child(odd) {
 color: #5a5760;
}

.info h2:before {
 display: inline-block;
 font-size: 2em;
 padding: 0.5em;
 padding-right: 1.5em;
 max-width: 3%;
}

.info article {
 margin-top: 2em;
 margin-bottom: 2em;
 color: white;
 padding: 0.5em;
}

.info article ul {
 max-width: 50%;
 margin: 2em;
 margin-left: 10em;
 margin-bottom: 3em;
}

.info a {
 font-family: 'Raleway', sans-serif;
 color: white;
 text-decoration: none;
}

.info-hrarticle-wit {
 height: 0.1em;
 width: 40%;
 background-color: white;
 border: none;
 margin-left: 9em;
}

.info-hrarticle-grijs {
 height: 0.1em;
 width: 40%;
 background-color: #5a5760;
 ;
 border: none;
 margin-left: 9em;
}

.info-button-wit {
 text-align: center;
 display: block;
 text-decoration: none;
 color: white;
 padding: 0.5em;
 margin: 2em;
 margin-left: 40%;
 width: 10%;
 border-style: solid;
 border-width: 0.15em;
 border-radius: 0.5em;
}

.info-button-grijs {
 text-align: center;
 display: block;
 text-decoration: none;
 color: #5a5760;
 padding: 0.5em;
 margin: 2em;
 margin-left: 40%;
 width: 10%;
 border-color: #5a5760;
 border-style: solid;
 border-width: 0.15em;
 border-radius: 0.5em;
}

a.info-button-grijs {
 color: #5a5760;
}