/*kleur  */

.blauwopl {
    background-color: #29aae2;
    color: white;
    padding-bottom: 2%
}


/* Tekst */

#OPL p {
    width: 90%;
    margin-left: 5%;
    padding: 1%;
}

.rond {
    border-radius: 5px;
    border: 2px solid white;
    text-align: center;
    width: 10%;
}

.rond:hover {
    opacity: 0.6;
    cursor: pointer;
}

#keuze {
    margin-left: 30%;
    width: 65%;
    padding-left: 0%;
}

h2 {
    margin-left: 5%;
    border-bottom: 1px solid white;
    width: 90%;
    padding: 1%;
}


/*Afbeeldingen */

.pijl {
    width: 4.5%;
    margin-left: 22%;
    margin-top: 1.3%;
    float: left;
}


/*Opmaak links */

#OPL #opmaak1 {
    background-color: #85c226;
}

#OPL #witruimte {
    margin-left: 15%;
    border-left: 1em solid white;
}


/* Soorten fases */

.fases {
    padding-left: 0%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.Duaal {
    width: 28.5%;
    margin: 0%;
    padding-right: 18%;
    float: right;
    margin-left: 0%;
}

.Kwalificatiefase {
    width: 28.5%;
    margin-left: 0%;
    margin-top: 0%;
    padding-left: 19.5%;
}

.ABO {
    margin-bottom: -3%;
}


/* Ik begrijp het zelf niet */

#oplbutton {
    width: 30%;
}