#GKM header{
  margin-left: 16%;
  min-height: 210px;
  padding-top: 5%;
  box-sizing: border-box;
background-color: #85c226;
}

#GKM header h1{
  border-bottom: solid white 10px;
  padding-bottom: 1%;
  color: white;
  text-indent: 5%;
  width: 80%;
}

#GKM .menubar ul li:first-child{
  margin-top: 0;
}

#GKM section{
  margin-top: 0.8%;
  margin-left: 16%;
  padding-left: 5%;
}

#GKM h2{
  margin-bottom: 2%;
}

#GKM h3{
  margin-top: 2%;
}



p{
 width:80%;   
}

.rond{
border-radius: 5px;
border: 1px solid white;
width:10%;
text-align: center;
}

.rond:hover{
opacity: 0.7;
cursor:pointer;
}

#opleidingen{
margin-left:30%;

}

.opleidingen{
margin-top:0.5%;
margin-bottom:4%;
}

#keuze{
margin-top:4%;
margin-left:16%;
}

.vlaklinks{
width:11%; 

position: absolute;
height:25.5%;
z-index: -1
    
}


.HL:hover{
    opacity: 0.8; 
}

.TA:hover{
    opacity: 0.8;
}

.LA:hover{
  opacity: 0.8; 
}

.SD:hover{
    opacity: 0.8;   
}

.GKM:hover{
    opacity: 0.8;  
}

.Kwalificatiefase{
width:26%;
position: absolute;





}

.Duaal{
    float:right;
    margin-left:1%;
    width:26%;
}