/*KLEUREN  
Accent groen: #85c226
Accent blauw: #29aae2 
Logo grijs: #5a5760 
Kleur HL rood: #e74c3c
Kleur TA groen: #1abc9c
Kleur GKM geel: #f1c40f
Kleur LA paars: #973cb6
Kleur SD oranje: #fd8125
Kleur duaal groen: #5ec64d */

* {
  /* zorgt voor een standaard margin en padding van 0 op alle elementen */
  margin: 0;
  padding: 0;
}

article,
section {
  margin-left: 16%;
  margin-top: 2%;
  margin-top: 5%;
  padding-left: 5%;
}

/* ALGEMENE OPMAAK*/

body {
  color: #5a5760;
  font-family: tahoma, sans-serif;
  width: 100%;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.5em;
  font-weight: lighter;
  padding-top: 2%;
  color: white;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-size: 1.75em;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-size: 1.25em;
}


/* ---- Iconfont ---- */

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icons/icomoon.eot');
  src: url('../fonts/icons/icomoon.eot') format('embedded-opentype'), url('../fonts/icons/icomoon.ttf') format('truetype'), url('../fonts/icons/icomoon.woff') format('woff'), url('../fonts/icons/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-size: 2em;
  font-variant: normal;
  text-transform: none;
  /*line-height: 1;
   /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebookgrijs:before {
  content: "\e90a";
}

.icon-facebookwit:before {
  content: "\e90b";
}

.icon-bus:before {
  content: "\e90c";
}

.icon-arrowrechtswit:before {
  content: "\e906";
}

.icon-arrowlinksgrijs:before {
  content: "\e907";
}

.icon-arrowlinkswit:before {
  content: "\e908";
}

.icon-arrowrechtsgrijs:before {
  content: "\e909";
}

.icon-add-contact:before {
  content: "\e90e";
}

.icon-agreement:before {
  content: "\e90f";
}

.icon-coins-on-hand:before {
  content: "\e910";
}

.icon-newspaper:before {
  content: "\e911";
}

.icon-open-magazine:before {
  content: "\e912";
}

.icon-open-pdf-booklet:before {
  content: "\e913";
}

.icon-Duaal:before {
  content: "\e900";
}

.icon-TA:before {
  content: "\e901";
}

.icon-GKM:before {
  content: "\e902";
}

.icon-HL:before {
  content: "\e903";
}

.icon-LA:before {
  content: "\e904";
}

.icon-SD:before {
  content: "\e905";
}


/* ---- CLEARFIX ---- */

.clearfix:after {
  visibility: hidden;
  display: block;
  content: ' ';
  clear: both;
  height: 0;
}


/* ---- BANNER & LOGO ---- */

#bannercover {
  background-image: url(../img/header.jpg);
  margin-left: 16%;
  min-height: 210px;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
}

.logo {
  width: 15%;
  float: left;
  padding: 2% 1% 1% 1%;
  box-sizing: border-box;
}


/* --- HEADER TEMPLATE --- */

.headerbackground {
  margin-left: 16%;
  min-height: 210px;
  padding-top: 5%;
  padding-bottom: 3.4%;
  box-sizing: border-box;
}

header h1 {
  border-bottom: solid white 10px;
  padding-bottom: 1%;
  color: white;
  width: 100%;
  color: #85c226;
  text-align: center;
  margin-right: 0; 
}


/* ---- NAVIGATIE MENU ----- */

.menubar {
  width: 15%;
  position: fixed;
  top: 160px;
}

.menubar ul {
  width: 100%;
  text-align: left;
}

.menubar li {
  margin: 5% 0;
  list-style: none;
  display: block;
  box-sizing: border-box;
  background-color: #85c226;
  min-height: 50px;
}

.menubar ul li:first-child {
  margin-top: 0;
}

.menubar a {
  text-decoration: none;
  color: white;
  font-size: 1.25em;
  display: block;
  height: 100%;
  width: 100%;
  padding: 7% 5% 2% 10%;
}

.menubar li:hover {
  background-color: #29aae2;
}


/* -- actieve link opmaken -- */

li.active {
  background-color: #29aae2;
  color: white;
  font-size: 1em;
  padding: 7% 5% 2% 10%;
  font-size: 1.25em;
}


/* ---- KLEURVLAKKEN ---- */


/* -- Blauw -- */

.blauw {
  color: white;
  background-color: #29aae2;
  padding: 2%;
}

.blauw h3 {
  padding-bottom: 1%;
}


/* -- Groen --  */

.groen {
  background-color: #85c226;
  color: white;
}

.groen h3 {
  padding-bottom: 1%;
}


/* -- Geel --*/

.geel {
  background-color: #f1c40f;
}


/* -- kleurvak links -- */

.vak_links {
  width: 15%;
  float: left;
  box-sizing: border-box;
  margin-right: 1%;
  text-indent: -9999px;
}


/* -- Verschillende kleuren van de opleidingen */

.HL {
  background-color: #e74c3c;
}

.TA {
  background-color: #1abc9c;
}

.LA {
  background-color: #973cb6;
}

.SD {
  background-color: #fd8125;
}

.GKM {
  background-color: #f1c40f;
}

.duaal {
  background-color: #5ec64d;
}

.opl .HL:hover {
  opacity: 0.8;
}

.opl .TA:hover {
  opacity: 0.8;
}

.opl .LA:hover {
  opacity: 0.8;
}

.opl .SD:hover {
  opacity: 0.8;
}

.opl .GKM:hover {
  opacity: 0.8;
}

.opl .duaal:hover {
  opacity: 0.8;
}


/* --- OPMAAK VAN DE NAV VAN DE VERSCHILLENDE OPLEIDINGEN --- */

.opleidingen {
  margin-left: 16%;
  margin-top: 2%;
}

.opleidingen a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: #5a5760;
}

.opl ul {
  width: 100%;
  text-align: center;
}

.opl li {
  color: white;
  margin: 1% 1% 1% 0;
  list-style: none;
  display: inline-block;
  box-sizing: border-box;
  width: 14%;
  text-align: center;
}

.opl a {
  font-family: tahoma, sans-serif;
  color: white;
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 25% 2%;
}


/* ---- FOOTER ---- */

footer {
  background-color: #5a5760;
  color: white;
  font-size: 0.75em;
  width: 100%;
  padding-top: 3%;
  margin-top: 5%;
}

#footercontent {
  margin-left: 16%;
  padding-left: 5%;
}

footer h5 {
  font-size: 1em;
  margin-bottom: 5%;
}

footer li {
  list-style: none;
  font-family: 'Raleway', sans-serif;
  padding: 3% 0;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: underline;
  color: white;
}

.f_prakt_info {
  float: left;
  width: 16%;
  position: relative;
  left: 0%;
  overflow: hidden;
  text-align: right;
  border-right: solid white 1px;
  padding-right: 2%;
}

.f_logo {
  float: left;
  width: 16%;
  position: relative;
  left: 6%;
  overflow: hidden;
  padding: 0 5%;
}

.f_logo img {
  width: 120%;
}

.f_aanbod {
  float: left;
  width: 16%;
  position: relative;
  left: 10%;
  overflow: hidden;
  border-left: solid white 1px;
  padding-left: 2%;
}

.f_aanbod ul li:nth-child(3),
.f_aanbod ul li:nth-child(4) {
  text-indent: -9999px;
}

.f_contact {
  margin: 0;
  float: left;
  width: 16%;
  position: relative;
  left: 12%;
  overflow: hidden;
  border-left: solid white 1px;
  padding-left: 2%;
}

.f_copyright {
  margin-left: 0;
  text-align: center;
  border-top: solid white 5px;
  margin-top: 11%;
  padding: 0.5% 0 2% 0;
}

.f_copyright ul li {
  padding: 0;
}

.f_copyright ul li:first-child {
  padding-top: 1%;
}

.f_copyright ul li a {
  color: white;
  text-decoration: none;
}

.f_copyright ul li a:hover {
  color: #85c226;
}


/* ---- HOME PAGE ---- */

.welkom {
  color: #85c226;
  text-align: center;
  margin-left: 16%;
  margin: 5% 5% 5% 16%;
}

.moreinfoboxicon{
  font-size: 0.6em;
}

#HOME .moreinfobox{
  border-radius: 10px;
  text-align: center;
  padding: 1% 0;
  margin-top: 2%;
  font-style: italic;
  
}

#HOME .welkom .moreinfobox{
  margin: 2% 40%;
  border: 1px solid #85c226;
}


/* -- nieuws sectie -- */

.nieuws{
  padding-left: 0;
}

.nieuws h2 {
  color: #29aae2;
  margin-bottom: 2%;
}

.nieuws article {
  margin: 0;
}

.nieuws .blauw {
  padding: 0;
}

.nieuws ul {
  display: inline-block;
  position: relative;
  width: 100%;
  list-style: none;
}

.nieuws li {
  font: bold sans-serif;
  list-style: none;
  padding: 1.25% 1%;
}

.nieuws li:focus,
.nieuws li:hover {
  background-color: #0c6c96;
  color: #fff;
}

.nieuws h3,
.nieuws p {
  width: 50%;
}

.nieuws li:hover img {
  display: block;
}

.nieuws img {
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
}


/* -- Aanbod sectie -- */

.aanbod {
  height: auto;
  margin-left: 0;
  padding-left: 0;
}

.aanbod h2 {
  color: #85c226;
  margin-left: 16%;
  margin-bottom: 2%;
}

.aanbod article {
  padding-top: 3%;
  padding-bottom: 3%;
}

.aanbod .moreinfobox{
  width: 30%;
  border: 1px solid;
  border-color: white;
  margin-top: 10%;
}

.basis {
  margin: 0;
  padding-left: 16%;
  float: left;
  width: 32%;
}

.aanbod h3{
  font-size: 2em;
  margin-bottom: 2%;
}

.type9 {
  margin: 0;
  float: right;
  width: 35%;
  padding-right: 13%;
  padding-left: 2%;
}


/* -- Sfeerbeelden sectie -- */

.sfeerbeelden {
  margin-left: 0;
  width: 100%;
}

.slider {
  margin-left: 16%;
  width: 80%;
  text-align: center;
}

.slider img {
  width: 50%;
}


/* ---- TEAM PAGINA ---- */

.p_index {
  margin-left: 16%;
}

.p_index li {
  text-align: center;
  list-style: none;
  margin-right: 1%;
  width: 15%;
  display: inline-block;
  border-bottom: solid #85c226 1px;
  padding-bottom: 1%;
}

.p_index a {
  text-decoration: none;
  color: #5a5760;
}

.team h2 {
  color: #85c226;
  text-decoration: underline;
}

.team li {
  text-align: center;
  list-style: none;
  margin-right: 1%;
  width: 15%;
  display: inline-block;
}

strong {}

.team img {
  width: 100%;
}

#directie {
  margin: 1% 0 0 0;
  padding-left: 16%;
}

#oht li {
  text-align: left;
  list-style: none;
  display: block;
  padding-bottom: 1%;
  width: 100%;
}

.team p:nth-child(even) {
  font-weight: regular;
}

.team p:nth-child(odd) {
  font-style: italic;
}


/* --- nieuws sectie home page --- */

.team ul {
  margin-top: 1%;
}

.lkr ul {
  position: relative;
  width: 50%;
  padding: 1% 30% 1% 0;
  margin-right: 16%;
}

.lkr li {
  list-style: none;
  padding: 1.25% 1%;
  width: 45%;
}

.lkr li:focus,
.lkr li:hover {
  background-color: #4c750b;
}

.lkr li:hover img {
  display: block;
}

.lkr img {
  width: 30%;
  display: none;
  position: absolute;
  top: 6%;
  right: 2%;
}


/* ---- CONTACT PAGINA ---- */

#adresgeg p::first-line {
  font-weight: bolder;
}